/*global*/

* {
    box-sizing: border-box;
    margin: 0;
}

video {
    width: 100%;
    position: fixed;
    z-index: -20;
}

.logo {
    width: 75%;
}

/*laptop*/

@media (min-width:768px) {}

/*PC*/

@media (min-width:1025px) {

    .headergrid {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        grid-template-rows: 40px 100px 100px 100px 100px 100px;
    }

    video {
        width: 100%;
        position: fixed;
        z-index: -20;
    }

    .logo {
        width: 100%;
        grid-column-start: 2;
        grid-row-start: 3;
        text-align: center;
    }

}
