/*global*/

* {
    box-sizing: border-box;
    margin: 0;
}

<<<<<<< HEAD
header{
    display: grid;
    grid-template-columns: 12.5% 75% 12.5%;
    grid-template-rows: 100px 80px 100px 100px 100px;
=======
@font-face {
    font-family: 'cheboygan';
    src: url('cheboygan.woff') format('woff'),
    url('cheboygan.ttf') format('truetype');
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'cheboygan', serif;
}

p {
    font-family: 'Poppins', sans-serif;
>>>>>>> 2c75caf56102098b8a0a0cce53d60f8c6a2e049a
}

video {
    width: 100%;
    position: fixed;
    z-index: -20;
    min-width: 100%;
    min-height: 100%;
    display: none;
}


<<<<<<< HEAD
 .logo {
        width: 100%;
        grid-column-start: 2;
        grid-row-start: 3;
        
    }
=======
.logo {
    width: 75%;
    grid-column-start: 2;
    grid-row-start: 3;
    text-align: center;
}
>>>>>>> 2c75caf56102098b8a0a0cce53d60f8c6a2e049a


#akvarie-bil {
    width: 100%;
    z-index: -20;
    grid-column-start: 1;
    grid-column-end: 4;

}



/*taplet*/

@media (min-width:768px) {

    video {
        display: block;
    }

    picture {
        display: none;
    }
    logo {
        width: 100%;
    }
}

/*PC*/

@media (min-width:1025px) {



    .headergrid {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        grid-template-rows: 40px 100px 100px 100px 100px 100px;
    }




}
