/*global*/

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: black;
}

p {
    color: white;
}

h1 {
    color: #cd6c01;
}

h3 {
    color: #d49957;
}

h4 {
    color: #ceb394;
}

a {
    color:white;
}

header {
    display: grid;
    grid-template-columns: 12.5% 75% 12.5%;
    grid-template-rows: 100px 80px 100px 100px 100px 100px 100px;
}

#toggle {
    display: none;
}

#toggle:checked + .menu {
    display: block;
}

.nav {
    position: relative;
    z-index: 1;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 4;
}

nav img {
    float: right;
    width: 15%;
    padding-right: 5px;
    padding-top: 10px;
}

.menu {
    display: none;
    width: 100%;
    margin-top: 65px;
}

.menu a {
    line-height: 80px;
    text-align: center;
    text-decoration: none;
    color: white;
    display: block;
    border-bottom: 1px solid white;
    background-color: black;
    font-family: 'Poppins';
}

#landingimg {
    margin-top: -100px;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
}

.bill-ramme {
    width: 100%;
}

.info-bill {
    width: 100%;
}

@font-face {
    font-family: 'cheboygan';
    src: url('cheboygan.woff') format('woff'),
    url('cheboygan.ttf') format('truetype');
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'cheboygan', serif;
}

p {
    font-family: 'Poppins', sans-serif;
}

video {
    width: 100%;
    position: fixed;
    z-index: -20;
    min-width: 100%;
    min-height: 100%;
    display: none;
}


.logo {
    width: 100%;
    grid-column-start: 2;
    grid-row-start: 3;
}

#akvarie-bil {
    width: 100%;
    z-index: -20;
    grid-column-start: 1;
    grid-column-end: 4;

}

/*taplet*/

@media (min-width:768px) {

    video {
        display: block;
    }

    picture {
        display: none;
    }
    logo {
        width: 100%;
    }
}

/*PC*/

@media (min-width:1025px) {



    .headergrid {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        grid-template-rows: 40px 100px 100px 100px 100px 100px;
    }




}
